%div.pagebody__main--partial
  %div.pagebody__main--partial--about.clearfix
    %p.pagebody__main--partial--about--membername 
      = message.user.name
    %p.pagebody__main--partial--about--date 
      = message.created_at.strftime("%Y/%m/%d %H:%M:%S")
  -if message.body.present?
    %p.pagebody__main--partial--message 
      = message.body
  -if message.image.present?
    %p.pagebody__main--partial--image
      = image_tag message.image.url
