%div.pagebody__main--partial
  %div.pagebody__main--partial--about.clearfix
    %p.pagebody__main--partial--about--membername membername
    %p.pagebody__main--partial--about--date 1773/1/23 00:11:21
  %p.pagebody__main--partial--message message message message message message message message message message message message message message message message message 
