%div.page
  %div.announce チャットグループが作成されました
  %div.pageheader
    %div.pageheader__leftside
  %div.pagebody.crearfix
    %div.pagebody__left
    %div.pagebody__main
      %div.pagefooter
        %div.pagefooter_bar
