= link_to group_messages_path(group),class:"pagelink" do
  .pagebody__left-partial
    %p.groupname 
      = group.name
    %p.firstcomment
      - if group.messages.present?
        = group.messages.last.body
      - else
        まだメッセージがありません

