.notification{
  color:#ffffff;
  background:#38aef0;
  text-align: center;
}
.pageheader{
  @include clearfix;
  position:relative;
  height:120px;
  &__leftside{
    @include height-width(120px,300px);
    float:left;
    background:#253141;
    &--aboutgroup{
      position:absolute;
      top:40%;
      left:20px;
      @include height-width(20px,300px);
      &--username{
        @include font-color_size(#ffffff,16px);
        font-weight:bold;
        float:left;
      }
      .pageheader_leftside--aboutgroup--icons{
        margin-right:40px;
        float:right;
      }
    }
  }
  .pageheader__rightside{
    @include height-width(120px,calc( 100vw - 300px ));
    float:left;
    &__groupname{
      @include font-color_size(#333333,20px);
      margin:35px 0 15px 40px;
    }
    &__membername{
      @include font-color_size(#999999,12px);
      margin:0 0 0 40px;
    }
    &__editbutton{
      position:absolute;
      top:28px;
      right:40px;
      border:2px solid #38aef0;
      height:40px;
      &--string{
        padding:7px 20px 10px 20px;
        color:#38aef0;
        font-weight:200;
      }
    }
  }
}
