
.color{
  color:white;
}

.pagebody{
  @include clearfix;
  &__left{
    width:300px;
    @include back-color(#2f3e51);
    float:left;
    height:calc( 100vh - 15vh );
    overflow-x:scroll;
    .pagelink{
      text-decoration:none;
      .pagebody__left-partial{
        color:#ffffff;
        .groupname{
          margin:20px 20px 5px 20px;
          font-size:15px;
        }
        .firstcomment{
          margin:0 20px 40px 20px;
          font-size:11px;
        }
      }
    }
  }
  &__main{
    border-top:1px solid #eeeeee;
    width: calc( 100vw - 300px );
    height:calc( 100vh - 15vh );
    float:right;
    overflow-x:scroll;
    &--partial{
      &--about{
        @include clearfix;
        padding:46px 0 0 0;
        margin:0 40px 0 40px;
        &--membername{
          float:left;
          margin:0 10px 0 0;
          font-size:16px;
          font-weight:bold;
          color:#434a54;
        }
        &--date{
          float:left;
          font-size:12px;
          color:#999999;
          margin:3px 0 0 0;
          white-space: nowrap;
        }
      }
     &--message{
      margin:10px 0px 40px 40px;
      word-wrap: break-word;
      min-width:450px;
    }
    }
    .pagefooter{
      @include back-color(#ddd);
      width: calc( 100vw - 300px );
      position:absolute;
      bottom:0;
      height:90px;
      &__form--input{
        height:50px;
        @include back-color(#ffffff);
        margin:20px 170px 0px 40px;
        min-width:calc(100vw - 490px);
        float:left;
      }
      &__form--button{
        width:90px;
        height:50px;
        font-weight:bold;
        background:#38aef0;
        color:white;
        -webkit-appearance: none;
        border-radius: 0;
        border:1px solid #38aef0;
        position:absolute;
        right:40px;
        top:20px;
      }
    }
  }
  position:relative;
}


