.pageheader:after{
  content: '';
    display: block;
    clear: both;
}
.pageheader{
  position:relative;
  height:15vh;
  &__leftside{
    height:15vh;
    width:300px;
    float:left;
    @include back-color(#253141);
    &--aboutgroup{
      position:absolute;
      top:40%;
      left:20px;
      width:300px;
      height:20px;
      p{
        font-size:16px;
        color:#ffffff;
        font-weight:bold;
        float:left;
      }
      .pageheader_leftside--aboutgroup--icons{
        margin-right:40px;
        float:right;
      }
    }
  }
  .pageheader__rightside{
    height:15vh;
    width:calc( 100vw - 300px );
    float:left;
    &--groupname{
      font-size:20px;
      color:#333333;
      margin:35px 0 15px 40px;
    }
    &--membername{
      font-size:12px;
      color:#999999;
      margin:0 0 0 40px;
    }
    &--editbutton{
      position:absolute;
      top:28px;
      right:40px;
      border:2px solid #38aef0;
      height:40px;
      &--string{
        padding:7px 20px 10px 20px;
        color:#38aef0;
        font-weight:200;
      }
    }
  }
}
