.clearfix:after{
  clear:both;
  content:"";
  display:block;
}

.pagebody{
  .pagebody__left{
    width:300px;
    background:#2f3e51;
    float:left;
    height:calc( 100vh - 20vh );
  }
  .pagebody__main{
    width: calc( 100vw - 300px );
    height:calc( 100vh - 20vh );
    position:relative;
    float:right;
    .pagefooter{
      background:#aaaaaa;
      width:100%;
      position:absolute;
      bottom:0;
      height:90px;
      .pagefooter_bar{
        height:50px;
        background:#ffffff;
        margin:20px 20px 0 20px;
      }
    }
  }
}


.pageheader{
  width:100%;
  height:20vh;
  border-bottom:1px solid #eeeeee;
  .pageheader__leftside{
    height:30vh;
    width:300px;
    background:#253141;
  }
}
html,body{
  height:100%;
  }
